/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: #2d3439;
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
  transform: scale(3.5);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: #aaa;
  // padding-bottom: 10rem;
}
