/* Popup width is defined in JS using options */
.leaflet-popup {
  &-content-wrapper {
    background-color: $--color-dark--1;
    color: $--color-light--2;
    border-radius: 5px;
    padding-right: 0.6rem;
  }
  &-content {
    font-size: 1.5rem;
  }
  &-tip {
    background-color: $--color-dark--1;
  }
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid $--color-brand--2;
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid $--color-brand--1;
}
